@charset "UTF-8";

/* Demais versões 

Tipycal Device Breakpoints

Telas pequenas– max 600px.
Celulares (maiores) – 601px — 768px.
Tablet– 769px — 992px.
Desktop – 993px — 1200px.
TV (grandes telas) – 1201px

*/

@media print {
    /* Desnecessário utilizar background image */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    main {
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }
}

@media screen and (min-width: 769px) {

        header > h1 {
            padding: 15px;
        }

        span#burger {
            display: none;
        }
        
        menu {
            display: block;
        }
        
        menu > ul > li  {
            display: inline-block;
            text-decoration: none;
            color: rgb(246, 242, 242);
            padding: 0px;
            text-align: center;
            margin: 0;
        }

        main {
            width: 769px;
        }
    }


