#charset "utf-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( to right, #736A62 15%, #A69C94, #D9CEC5 , #A68376 );
}
main{
    background-color: white;
    border-radius: 10px ; /*quebrar a quina da borda*/
    box-shadow: 5px 5px 20px rgb(58, 58, 58); /*adicionar sombra. lado / baixo / transparencia e cor */
    width: 500px;   /*alterar a posição da borda*/
    padding: 10px; /*distancia do texto ate a borda*/
    margin: auto;
}
h1{
   color:#3b3026;
   text-align: center;
}
h2{
    color: #3f322c ;

}